.navbar{
    padding: 10px 25px;
    background-color: #0b4baa !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

.navbar-nav{
    margin-left: auto;
}

.navbar-nav a{
    padding: 0px 15px !important;

}

@media screen and (min-width:992px) {
    
    .navbar-nav  a:hover{
        transform: rotate(6deg);
        transition: all 0.3s ease-out;
    }
}